

/* ******************************* HEADER CSS ******************************* */
.siteTitle {
    text-align: center;
    
}

nav {
    display: flex;
    justify-content: space-around
}

.theNavbarList {
    width: 12em;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 0.7em;
}

.navLink {
    text-decoration: none !important;
    color: black !important;
}

.loggedInNavList {
    display: flex;
    text-decoration: none;
    width: 15em;
    justify-content: space-between;
    list-style-type: none;
    padding-top: 0.7em;
}



/*****************************************MAP AND SEARCH BAR**************************************/

#map {
    height: 600px !important;
    margin: 2em !important;
}

.geoCodingForm {
    display: flex !important;
    justify-content: center !important;
}

.hiddenMap {
    display: none;
}



/* ************************************** ADD TO MAP PAGE ************************************************************ */
.geoCodingFormSearch {

    display: flex !important;
    justify-content: center !important;
    width: 35%;

}


div.pure-menu.pure-menu-horizontal {
    width: 150px;
}
.dropdownAndSearch {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
}




