{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Language Finder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" />
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" defer></script>  
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg" defer></script>
    <script type="text/javascript" src="{% static 'scripts/app.js' %}" defer></script> 
</head>
<body>
    <header class='siteHeader'>
        {% if user.is_authenticated %}
        <nav class='navbar'>
            <a class='navLink' href="{%url 'home' %}"><h1 class='siteTitle'>Language It!</h1></a>
            <ul class='loggedInNavList'>
                <a class='navLink' href="{% url 'hello' %}"><li class='navListItem'>Add To Map</li></a>
                <a class='navLink' href="{% url 'profile' %}"><li class='navListItem'>Profile</li></a>
                <a class='navLink' href="{% url 'logout' %}"><li class='navListItem'>Logout</li></a>
            </ul>
        </nav>
        {% else %}
        <nav class='navbar'>
                <a class='navLink' href="{% url 'home' %}"><h1 class='siteTitle'>Language It!</h1></a>
                <ul class='theNavbarList'>
                    <a class='navLink' href="{% url 'register' %}"><li class='navListItem'>Create Account</li></a>
                    <a class='navLink' href="{% url 'login' %}"><li class='navListItem'>Login</li></a>
                </ul>
            </nav>
        {% endif %}
    </header>
    {% block register %}
    {% endblock %}
    {% block homepage %}
    {% endblock %}
    {% block login %}
    {% endblock %}
    {% block addtomap %}
    {% endblock %}
    {% block profile %}
    {% endblock %}
</body>
</html>